[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/blowfish"]
	path = themes/blowfish
	url = git@github.com:nunocoracao/blowfish.git
