.bottom-seperator {
    border-color: rgba(142, 157, 177, 1);
    --tw-border-style: solid;
    border-bottom-style: 1px;
  }

  .news-div {
    margin-top: 40px;
    margin-bottom: 40px;
  }
.news-header {
    font-weight: 600;
      font-size: 1.25em;
      margin-top: 1.6em;
      margin-bottom: 0.6em;
      line-height: 1.6;
}